@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=RWmMoKWR9v4ksMfaWd_JN-XHg6MKDFNhKhzHSx46sl4mbw&skey=1a66edef5eadc723&v=v21) format('woff2');
}
